
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

body {
  background-color: lightgray;
}

i {
  font-size: 1.2rem;
}

nav {
  align-items: center;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  z-index: 10;

  &.nav-bottom {
    bottom: 0;
    position: fixed;
  }

  &.nav-top {
    position: fixed;
  }
}

textarea {
  min-height: 150px;
}

.address-options {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  padding-top: 15px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.app-container {
  padding: 0;
}

.content-container {
  background-color: #FFF;
  padding-bottom: 60px;
  padding-top: 55px;
  min-height: 100vh;

  h5 {
    margin: 5px 0;
  }

  .info-header {
    background-color: lightgray;
    margin: 0;
    padding: 10px 15px;
  }

  .lesson-buttons {
    border-bottom: 1px solid silver;
    justify-content: space-evenly;
    padding: 10px;
  
    .lesson-btn {
      cursor: pointer;
    }
  }

  .student-icons {
    border-bottom: 1px solid silver;
    justify-content: space-around;
    padding: 10px;

    i {
      font-size: 1.3rem;
    }
  }

  .hidden {
    display: none;
  }

  .student-info, .lesson-info {
    align-content: center;
    border-bottom: 1px solid silver;
    display: flex;
    justify-content: space-between;

    .info-title {
      align-items: center;
      display: flex;
      width: 30%;
    }
  }

  .lesson-summary, .note-summary, .student-summary, .address-summary {
    border-bottom: 1px solid #C0C0C0;
    padding: 10px 0;  
  }
}

.date-time {
  float: left;
  width: 50%;
}

.disabled-link {
  opacity: 0.7;
  pointer-events: none;
}

.error {
  border: 1px solid red;

  &:focus {
    border: 1px solid red;
  }
}

.icon-text {
  font-size: 0.7rem;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.orange {
  color: orange;
}
