
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


a {
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, #app, #root {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

i {
  font-size: 1.2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

main.guest {
  background: darkorange;
  background: linear-gradient(to right, darkorange, #FFC233);
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: auto;
}

nav {
  align-items: center;
  background-color: $gray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  z-index: 10;

  .navbar-brand {
    color: $orange;
  }

  &.nav-bottom {
    bottom: 0;
    position: fixed;
  }

  &.nav-top {
    position: fixed;
  }
}

textarea {
  min-height: 150px;
}

.address-options {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.app-container {
  padding: 0;
}

.b-1-orange {
  border: 1px solid $orange;
}

.bb-1-s {
  border-bottom: 1px solid #C0C0C0;
}

.bg-orange {
  background-color: $orange;
}

.form-control:focus {
  border-color: $orange;
  box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}

.hidden {
  display: none;
}

.h-100 {
  height: 100vh;
}

.content-container {
  background-color: #FFF;
  padding-bottom: 60px;
  padding-top: 55px;
  min-height: 100vh;

  h5 {
    margin: 5px 0;
  }

  .info-header {
    background-color: $gray;
    margin: 0;
    padding: 10px 15px;
  }

  .lesson-buttons {
    border-bottom: 1px solid silver;
    justify-content: space-evenly;
    padding: 10px;
  
    .lesson-btn {
      cursor: pointer;
    }
  }

  .student-icons, .lesson-icons {
    border-bottom: 1px solid silver;
    justify-content: space-around;
    padding: 10px;

    i {
      font-size: 1.3rem;
    }
  }

  .earnings-title {
    align-items: center;
    display: flex;
    margin-bottom: 0;
    height: 40px;
    width: 50%;
  }

  .earnings-year {
    font-size: 16px;
    position: relative;
    top: -30px;

    span {
      font-weight: 600;
      padding: 0 10px;
    }
  }

  .info {
    align-items: center;
    max-width: 75%;
  }

  .info-title {
    align-items: center;
    display: flex;
    width: 30%;
  }

  .summary {
    border-bottom: 1px solid #C0C0C0;
    padding: 10px 0;  
  }
}

.date-time {
  display: inline-block;
  width: 50%;
}

.disabled-link {
  opacity: 0.7;
  pointer-events: none;
}

.error {
  border: 1px solid red;

  &:focus {
    border: 1px solid red;
  }
}

.form-control {
  font-size: 16px;
}

.icon-text {
  font-size: 0.7rem;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .15rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-laravel {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.opacity-5 {
  opacity: 0.5;
}

.orange {
  color: $orange;
}

.pointer {
  cursor: pointer;
}

.top-left {
  color: #636b6f;
  font-size: 20px;
  font-weight: bold;
  left: 60px;
  letter-spacing: .1rem;
  position: fixed;
  top: 18px;

  &:hover {
    color: #636b6f;
  }

  @media screen and (max-width: 420px) {
    left: 40px;
  }
}

.top-right {
  position: absolute;
  right: 40px;
  top: 23px;

  @media screen and (max-width: 420px) {
    right: 20px;
  }
}

.v-adjust {
  margin-bottom: 100px;
  margin-top: 100px;
  top: -55px;
}

#container {
  background-color: #FFF;
  height: 100vh;
}

#earnings-chart {
  display: flex;
  justify-content: center;
  width: 100vw;
}

// login and register css----------------------------------
:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: .75rem;
  }
  
.card-signin, .card-register {
	border: 0;
	border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  
  .card-body {
    padding: 2rem;
  }

  .card-title {
    color: $darkgray;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }
}
  
.form-signin {
	width: 100%;
}
  
.form-signin, .form-register, .form-email, .form-reset {

  .btn {
    border-radius: 5rem;
    color: #FFF;
    font-size: 80%;
    letter-spacing: .1rem;
    padding: 1rem;
    // transition: all 0.2s;
  }
  
  .btn-link {
    color: $darkgray;
    font-weight: 600;
  }
}

.form-label-group {
	height: auto;
	position: relative;
	margin-bottom: 1rem;
}
  
.form-label-group input {
	height: auto;
	border-radius: 2rem;
}
  
.form-label-group>input, .form-label-group>label {
	padding: var(--input-padding-y) var(--input-padding-x);
}
  
.form-label-group>label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: .25rem;
	// transition: all .1s ease-in-out;
}
  
.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: $darkgray;
}

// end login and register css---------------------------
